/** PUT ANY CSS OVERRIDES HERE */
.h3Hero {
    margin-top: 1.6rem !important;
}

@media (min-width: 600px) {
    .h3Hero {
        margin: 1.6rem 0 !important;
    }
    #homeHero button {
        margin-top: 1.6rem !important;
    }
}
.body1SplitHero {
    margin: 1.6rem 0 !important;
}
.h3SplitHero-right {
    margin-bottom: 1.6rem !important;
}
@media (max-width: 1279px) {
    #scrollTo h6 {
       /* text-align: center; */
    }
}

/* About page */

.aboutHero div div:nth-child(2) {
    background-image: url("/graphics/heroAboutStatic.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}
.aboutHero div div:nth-child(2) img {
    display: none;
}

.thumbnailWrapper img {
    cursor: pointer;
}

.ourFriendsLogos {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.ourFriendsLogos a {
    max-width: 240px;
    /* height: 140px; */
    display: block;
    padding: 24px;
}
.ourFriendsLogos a img {
    max-width: 100%;
}
.ourFriendsLogos a img.img__smaller {
    max-width: 160px;
}

/* News */

.newsHero img {
    object-fit: fill !important;
}

/* Footer */

footer p a {
    color: white;
}

footer .social a {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 2px;
}
@media (min-width: 960px) {
    footer .social a {
        display: block;
        width: 20px;
        margin-left: 8px;
        margin-top: 2px;
        }
    }

header nav ul li:nth-child(5) a:before {
    content: url('/icons/twitter-blue.svg');
}